.header {
	width: 1200px;
	height: 150px;
	margin: 30px auto;
	background-color: aliceblue;
}

.logo {
	margin-top: 10px;
}

.sony {
	position: absolute;
	top: 50px;
	font-size: 25px;
}

.lf {
	font-size: 12px;
	margin-top: 20px;
	font-family: "arial black";
}

.allstar {
	width: 700px;
	height: 100px;
	position: absolute;
	margin-left: 200px;
	margin-top: -120px;
	font-size: 20px;
}

.main {
	margin: 90px auto;
	height: 700px;
	width: 1200px;
	background-color: aliceblue;
}

.main-left {
	float: left;
}

.main-right {
	float: left;
	margin-left: 100px;
}

.file {
	margin-top: 80px;
	margin-left: 200px;
}
img{
	padding: 10px;
}
.xm{
	padding: 30px;
}

* {
	margin: 0px;
	padding: 0px;
}

.star_bg {
	width: 120px;
	height: 20px;
	background: url("star-four.png") repeat-x;
	margin: 25px auto;
	overflow: hidden;
	position: relative;
}

.star {
	width: 24px;
	height: 100%;
	position: absolute;
	z-index: 3;
}

.star_1 {
	left: 0px;
}

.star_2 {
	left: 24px;
}

.star_3 {
	left: 48px;
}

.star_4 {
	left: 72px;
}

.star_5 {
	left: 96px;
}

.star:hover {
	z-index: 2;
	left: 0px;
}

.star_1:hover {
	background: url("star-four.png") repeat-x 0 -20px;
	width: 24px;
}

.star_2:hover {
	background: url("star-four.png") repeat-x 0 -20px;
	width: 48px;
}

.star_3:hover {
	background: url("star-four.png") repeat-x 0 -40px;
	width: 72px;
}

.star_4:hover {
	background: url("star-four.png") repeat-x 0 -40px;
	width: 96px;
}

.star_5:hover {
	background: url("star-four.png") repeat-x 0 -60px;
	width: 120px;
}
.xx{
	position: absolute;
	/* margin-left: 0px; */
	margin-top: 23px;
}
label {
	width: 100%;
	height: 100%;
	display: block;
}

/*rect(30px 200px 200px 20px) 表示的含义就是：*/
/*最终剪裁的矩形的上边距离原始元素的上边缘30像素；*/
/*剪裁矩形的右边缘距离原元素左边缘的距离是200像素；*/
/*剪裁矩形的下边缘距离原元素顶部的距离为200像素；*/
/*剪裁矩形的左边缘距离原元素左边缘的距离时20像素。*/
.num {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

/*css兄弟选择器(+ 和 ~)*/
/*+ 选择器*/
/*　　如果需要选择紧接在另一个元素后的元素，而且二者有相同的父元素，可以使用相邻兄弟选择器。*/
/*~ 选择器*/
/*　　作用是查找某一个指定元素的后面的所有兄弟结点。*/
.num:checked+.star {
	left: 0px;
	z-index: 1;
}

.num_1:checked~.star_1 {
	background: url("star-four.png") repeat-x 0 -20px;
	width: 24px;
}

.num_2:checked~.star_2 {
	background: url("star-four.png") repeat-x 0 -20px;
	width: 48px;
}

.num_3:checked~.star_3 {
	background: url("star-four.png") repeat-x 0 -40px;
	width: 72px;
}

.num_4:checked~.star_4 {
	background: url("star-four.png") repeat-x 0 -40px;
	width: 96px;
}

.num_5:checked~.star_5 {
	background: url("star-four.png") repeat-x 0 -60px;
	width: 120px;
}
#impress{
 width: 600px;
 float: left;
 display: block;
}
#impress li{
 width: 100px;
 line-height: 35px;
 border: 1px solid #eee;
 /* float: left; */
 display: inline-block;
 margin-right: 5px;
 margin-bottom: 5px;
 text-align: center;
}